@media(max-width: 960px) {
#main-nav {
 background: rgba($color: #000000, $alpha: 1.0);
 .navigation {
  grid-template-areas: 
  'logo logo logo hamburger'
  'items items items items'
  'reservation reservation reservation reservation'!important;
  align-items: center;

  .nav-container {
   display: none;
   ul {
    flex-direction: column;
    li  {
     padding: 1.3rem;
     border-bottom: 1px solid $secondary-color;
     width: 75%;
     a{
      &:hover,
      &:focus {
       border-bottom: none;
      }
     }
    }
   }
  }
  .nav-reservation {
   display: none;
   justify-content: center;
   align-items: center;
   text-align: center;

  }
  .hamburger {
   .fa-bars {
    display: inline-block;
   }
   .fa-close {
    display: none;
   }

  }
 }
}
.hero {
 .content {
 h1 {
  font-size: 2rem;
  padding-bottom: 1.2rem;
 }
 p {
  max-width: 400px
 }
 }
}

.home {
 &-services {
  .items {
  grid-template-columns: repeat(2,1fr);
  
  .item {
   max-height: 240px;
  }

  }
 }
	&-about { 
  .about-container {
   grid-template-columns: 1fr;
  }
 }

 &-testimonials {
  .testimonials-container {
   grid-template-columns: repeat(2, 1fr);
   grid-gap:3rem;
  }
 }
}
}

@media(max-width: 500px) {


.home {
 &-services {
  .items {
  max-width: 85%;
  margin: 0 auto;
  grid-template-columns: repeat(1,1fr);
  
  .item {
   max-height: 185px;
  }

  }
 }
	&-about { 
  .about-container {
     max-width: 85%;
  margin: 0 auto;
   grid-template-columns: 1fr;
   p {
    font-size: 1.1rem;
   }
  }
 }

 &-options {
  .options-container {
        max-width: 85%;
  margin: 0 auto;
   grid-template-columns: 1fr;
   div {
    border-right: none;
    border-bottom: 1px solid $secondary-color;

    	&:last-child {
					border-bottom: none;
				}
   }
  }
 }

 &-testimonials {
  .testimonials-container {
   max-width: 85%;
   grid-template-columns: repeat(1, 1fr);
   margin: 0 auto;
  }
 }
}
}