// Font
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$primary-font: "Roboto", sans-serif;

// Colors
$primary-color: #000;
$secondary-color: #b00000;
$dark-color: #333;
$light-color: #f6f6f6;
$medium-color: #ccc;

// Sizes
$website-width: 1200px;
