#main-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 auto;
	z-index: 100;
	font-size: 1.3rem;
	transition: all 0.7s ease;

	.navigation {
		display: grid;
		grid-template-areas: 'logo hamburger items reservation';
		align-items: center;
		justify-content: space-between;


		.logo {
			grid-area: logo;
			width: 150px;
			padding: 1.2rem 2rem;


			a {
				&:hover {
					@include link-hover(transparent);
					transition: none;
				}

				img {
					width: 100%;
					transition: $transition-link-hover;

					&:hover {
						transform: scale(0.95);
					}
				}
			}
		}

		.nav-container {
			grid-area: items;
			transition: all 2s ease;

			ul {
				@include flex(center);

				li a {
					padding: 1rem;
				}
			}
		}

		.hamburger {
			grid-area: hamburger;

			i {
				grid-area: hamburger;
				padding: 1rem;
				cursor: pointer;
				transition: $transition-link-hover;

				&:hover {
					color: $secondary-color;
					border-bottom: none;
				}
			}

			.fa-bars {
				display: none;
			}

			.fa-close {
				display: none;
			}
		}

		.nav-reservation {
			grid-area: reservation;
			transition: all 2s ease;

			padding: 2rem;

			a {
				border-bottom: none;
			}

			i {
				margin-right: 0.5rem;
			}

			span {
				color: $secondary-color ;
			}
		}
	}
}